<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="{05176305-42C9-443F-927C-41E4F9470249}" Codepage="65001" Language="1033" Manufacturer="Rimas Kudelis" Name="Lithuanian (Enhanced)" UpgradeCode="{8E0A18CA-D0EF-4F46-9D71-1377301A70AC}" Version="1.0.3.40">
        <Package Description="Lithuanian (Enhanced) keyboard layout installer" InstallerVersion="200" Keywords="Custom, Keyboard, Installer, MSI, database, MSKLC" Languages="1033" Manufacturer="Rimas Kudelis" SummaryCodepage="1257" Compressed="yes" />

        <Condition Message="A conflicting DLL file ([KEYBOARD_ALREADY_PRESENT]) already exists on this machine.&#xD;&#xA;&#xD;&#xA;Installation cannot continue.">KEYBOARD_ALREADY_PRESENT="" Or Installed</Condition>
        <Condition Message="This keyboard layout cannot be installed on Windows 95, Windows 98, or Windows ME.&#xD;&#xA;&#xD;&#xA;Installation cannot continue.">NOT Version9X</Condition>
        <?if $(sys.BUILDARCH) = x86 ?>
                <Condition Message="This installation package is not supported by this processor type. Contact your product vendor.">Not Msix64</Condition>
                <Condition Message="This installation package is not supported by this processor type. Contact your product vendor.">Not Intel64</Condition>
        <?endif ?>

        <CustomAction Id="DIRCA_TARGETDIR" Property="TARGETDIR" Value="[SystemFolder]" Execute="firstSequence" />
        <CustomAction Id="SetFilePath" Property="RegisterKeyboard" Value="[#FILE_LAYOUT_I386]|[LCIDValue]" />
        <CustomAction Id="SetFilePathAmd64" Property="RegisterKeyboard" Value="[#FILE_LAYOUT_AMD64]|[LCIDValue]" />
        <CustomAction Id="SetFilePathIa64" Property="RegisterKeyboard" Value="[#FILE_LAYOUT_IA64]|[LCIDValue]" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Component Id="RegistryKeys" Guid="{4A4EAE0D-5F66-4E3D-AAC4-27F121FDBC53}" KeyPath="yes" />

            <Directory Id="SystemFolder">
                <Directory Id="SYSTEMFOLDERI386" SourceName="i386">
                    <Component Id="LayoutI386" Guid="{57344B98-84AA-466E-BBB2-0DCD1A503FAE}" Win64="no">
                        <Condition>NOT VersionNT64</Condition>
                        <File Id="FILE_LAYOUT_I386" Name="ltenh.dll" KeyPath="yes" Source="..\i386\ltenh.dll" />
                    </Component>
                </Directory>
                <Directory Id="SYSTEMFOLDERWOW64" SourceName="wow64">
                    <Component Id="LayoutWOW64" Guid="{3E1F22E6-E742-4C1E-86A5-19DD3E892D59}" Win64="no">
                        <Condition>VersionNT64</Condition>
                        <File Id="FILE_LAYOUT_WOW64" Name="ltenh.dll" KeyPath="yes" Source="..\wow64\ltenh.dll" />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="System64Folder">
                <Directory Id="SYSTEMFOLDERAMD64" SourceName="amd64">
                    <Component Id="LayoutAMD64" Guid="{1EE08930-5343-40DD-B2D7-FE7360501ECE}" Win64="yes">
                        <Condition>Msix64</Condition>
                        <File Id="FILE_LAYOUT_AMD64" Name="ltenh.dll" KeyPath="yes" Source="..\amd64\ltenh.dll" />
                    </Component>
                </Directory>
                <Directory Id="SYSTEMFOLDERIA64" SourceName="ia64">
                    <Component Id="LayoutIA64" Guid="{4CC2C155-7578-484B-A15A-AA2F33A20D25}" Win64="yes">
                        <Condition>Intel64</Condition>
                        <File Id="FILE_LAYOUT_IA64" Name="ltenh.dll" KeyPath="yes" Source="..\ia64\ltenh.dll" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="RegistryKeys" />
        </Feature>
        <Feature Id="DefaultFeatureI386" ConfigurableDirectory="SYSTEMFOLDERI386" Level="0">
            <ComponentRef Id="LayoutI386" />
            <Condition Level="1">NOT VersionNT64</Condition>
        </Feature>
        <Feature Id="DefaultFeatureIa64" ConfigurableDirectory="SYSTEMFOLDERIA64" Level="0">
            <ComponentRef Id="LayoutIA64" />
            <Condition Level="1">Intel64</Condition>
        </Feature>
        <Feature Id="DefaultFeatureWow64" ConfigurableDirectory="SYSTEMFOLDERWOW64" Level="0">
            <ComponentRef Id="LayoutWOW64" />
            <Condition Level="1">VersionNT64</Condition>
        </Feature>
        <Feature Id="DefaultFeatureX64" ConfigurableDirectory="SYSTEMFOLDERAMD64" Level="0">
            <ComponentRef Id="LayoutAMD64" />
            <Condition Level="1">Msix64</Condition>
        </Feature>

        <MediaTemplate EmbedCab="yes" />

        <Property Id="MaintenanceForm_Action" Value="Remove" />
        <Property Id="ErrorDialog" Value="ErrorDialog" />
        <Property Id="KLCVERSIONMSG" Value="Unable to install because a newer version of this keyboard is already installed." />
        <Property Id="NEWERPRODUCTFOUND" Secure="yes" />
        <Property Id="LCIDValue" Value="0427" />
        <Property Id="DefaultUIFont" Value="KbdDefaultUIFont" />
        <Property Id="ARPCONTACT" Value="Rimas Kudelis" />
        <Property Id="LayoutFile" Value="ltenh.dll" />
        <Property Id="KEYBOARD_ALREADY_PRESENT">
            <DirectorySearch Id="SystemKeyboardFile" Path="[SystemFolder]" Depth="0">
                <FileSearch Id="SystemKeyboardFile" ShortName="ltenh.dll" />
            </DirectorySearch>
            <DirectorySearch Id="System64KeyboardFile" Path="[System64Folder]" Depth="0">
                <FileSearch Id="System64KeyboardFile" ShortName="ltenh.dll" />
            </DirectorySearch>
        </Property>

        <UI>
            <TextStyle Id="KbdDefaultUIFont" FaceName="Segoe UI" Size="9" Red="0" Green="0" Blue="0" />
            <TextStyle Id="HeadingFont" FaceName="Segoe UI" Size="12" Red="0" Green="0" Blue="0" Bold="yes" />

            <RadioButtonGroup Property="MaintenanceForm_Action">
                <RadioButton Height="17" Text="&amp;Remove the keyboard layout." Value="Remove" Width="348" X="0" Y="0" />
                <RadioButton Height="17" Text="&amp;Repair the keyboard layout." Value="Repair" Width="348" X="0" Y="18" />
            </RadioButtonGroup>

            <Dialog Id="WelcomeForm" X="50" Y="50" Width="373" Height="187" Title="[ProductName]">
                <Control Id="InstallButton" Type="PushButton" X="300" Y="161" Width="66" Height="18" Text="&amp;Install" TabSkip="no" Default="yes" ElevationShield="yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="CancelButton" Type="PushButton" X="156" Y="161" Width="66" Height="18" Text="Cancel" TabSkip="no" Cancel="yes">
                    <Publish Event="SpawnDialog" Value="Cancel" />
                </Control>
                <Control Id="PreviousButton" Type="PushButton" X="228" Y="161" Width="66" Height="18" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
                <Control Id="Line1" Type="Line" X="0" Y="52" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="Line2" Type="Line" X="0" Y="152" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="BodyText" Type="Text" X="9" Y="63" Width="354" Height="80" Text="This application will install [ProductName] on your computer.&#xD;&#xA;&#xD;&#xA;Click &quot;Install&quot; to continue." TabSkip="yes" />
                <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\HeadingFont}Welcome to the [ProductName] Setup Wizard" TabSkip="yes" Transparent="yes" />
            </Dialog>

            <Dialog Id="FinishedForm" X="50" Y="50" Width="373" Height="187" Title="[ProductName]">
                <Control Id="CloseButton" Type="PushButton" X="300" Y="161" Width="66" Height="18" Text="&amp;Close" TabSkip="no" Default="yes" Cancel="yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="CancelButton" Type="PushButton" X="156" Y="161" Width="66" Height="18" Text="Cancel" TabSkip="no" Disabled="yes" />
                <Control Id="PreviousButton" Type="PushButton" X="228" Y="161" Width="66" Height="18" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
                <Control Id="Line1" Type="Line" X="0" Y="52" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="Line2" Type="Line" X="0" Y="152" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="BodyText" Type="Text" X="9" Y="63" Width="354" Height="80" Text="[ProductName] has been successfully installed.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes">
                    <Condition Action="show">REMOVE=""</Condition>
                    <Condition Action="hide">REMOVE&lt;&gt;""</Condition>
                </Control>
                <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\HeadingFont}Installation Complete" TabSkip="yes" Transparent="yes" />
                <Control Id="BodyTextRemove" Type="Text" X="9" Y="63" Width="354" Height="80" Text="[ProductName] has been successfully removed.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes">
                    <Condition Action="show">REMOVE&lt;&gt;""</Condition>
                    <Condition Action="hide">REMOVE=""</Condition>
                </Control>
            </Dialog>

            <Dialog Id="UserExitForm" X="50" Y="50" Width="373" Height="187" Title="[ProductName]">
                <Control Id="CloseButton" Type="PushButton" X="300" Y="161" Width="66" Height="18" Text="&amp;Close" TabSkip="no" Default="yes" Cancel="yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="CancelButton" Type="PushButton" X="156" Y="161" Width="66" Height="18" Text="Cancel" TabSkip="no" Disabled="yes" />
                <Control Id="PreviousButton" Type="PushButton" X="228" Y="161" Width="66" Height="18" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
                <Control Id="Line1" Type="Line" X="0" Y="52" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="Line2" Type="Line" X="0" Y="152" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\HeadingFont}Installation Interrupted" TabSkip="yes" Transparent="yes" />
                <Control Id="BodyTextRemove" Type="Text" X="9" Y="63" Width="354" Height="80" Text="The installer was interrupted before [ProductName] could be removed. You need to restart the installer to try again.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes">
                    <Condition Action="show">REMOVE&lt;&gt;""</Condition>
                    <Condition Action="hide">REMOVE=""</Condition>
                </Control>
                <Control Id="BodyTextInstall" Type="Text" X="18" Y="63" Width="342" Height="24" Text="The installation was interrupted before [ProductName] could be installed. You need to restart the installer to try again." TabSkip="yes">
                    <Condition Action="show">REMOVE=""</Condition>
                    <Condition Action="hide">REMOVE&lt;&gt;""</Condition>
                </Control>
            </Dialog>

            <Dialog Id="MaintenanceForm" X="50" Y="50" Width="373" Height="187" Title="[ProductName]">
                <Control Id="NextButton" Type="PushButton" X="300" Y="161" Width="66" Height="18" Text="&amp;Next" TabSkip="no" Default="yes" ElevationShield="yes">
                    <Publish Property="REINSTALL" Value="ALL">MaintenanceForm_Action="Repair"</Publish>
                    <Publish Event="Reinstall" Value="ALL">MaintenanceForm_Action="Repair"</Publish>
                    <Publish Property="REMOVE" Value="ALL">MaintenanceForm_Action="Remove"</Publish>
                    <Publish Event="Remove" Value="ALL">MaintenanceForm_Action="Remove"</Publish>
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="RepairRadioGroup" Type="RadioButtonGroup" X="18" Y="88" Width="348" Height="48" Property="MaintenanceForm_Action" Text="MsiRadioButtonGroup" TabSkip="no" />
                <Control Id="CancelButton" Type="PushButton" X="156" Y="161" Width="66" Height="18" Text="Cancel" TabSkip="no" Cancel="yes">
                    <Publish Event="SpawnDialog" Value="Cancel" />
                </Control>
                <Control Id="PreviousButton" Type="PushButton" X="228" Y="161" Width="66" Height="18" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
                <Control Id="Line1" Type="Line" X="0" Y="52" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="Line2" Type="Line" X="0" Y="152" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="BodyText" Type="Text" X="9" Y="63" Width="364" Height="22" Text="Select whether you want to repair or remove [ProductName]." TabSkip="yes" />
                <Control Id="BannerText" Type="Text" X="9" Y="9" Width="364" Height="23" Text="{\HeadingFont}Welcome to the [ProductName] Setup Wizard" TabSkip="yes" Transparent="yes" />
            </Dialog>

            <Dialog Id="FatalErrorForm" X="50" Y="50" Width="373" Height="187" Title="[ProductName]">
                <Control Id="CloseButton" Type="PushButton" X="300" Y="161" Width="66" Height="18" Text="&amp;Close" TabSkip="no" Default="yes" Cancel="yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="CancelButton" Type="PushButton" X="156" Y="161" Width="66" Height="18" Text="Cancel" TabSkip="no" Disabled="yes" />
                <Control Id="PreviousButton" Type="PushButton" X="228" Y="161" Width="66" Height="18" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
                <Control Id="Line1" Type="Line" X="0" Y="52" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="Line2" Type="Line" X="0" Y="152" Width="372" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="Installation Incomplete" TabSkip="yes" Transparent="yes" />
                <Control Id="BodyTextRemove" Type="Text" X="9" Y="63" Width="354" Height="80" Text="The installer was interrupted before [ProductName] could be installed. You need to restart the installer to try again.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes">
                    <Condition Action="show">REMOVE=""</Condition>
                    <Condition Action="hide">REMOVE&lt;&gt;""</Condition>
                </Control>
                <Control Id="BodyTextInstall" Type="Text" X="9" Y="63" Width="354" Height="80" Text="The installer was interrupted before [ProductName] could be removed. You need to restart the installer to try again.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes">
                    <Condition Action="show">REMOVE&lt;&gt;""</Condition>
                    <Condition Action="hide">REMOVE=""</Condition>
                </Control>
            </Dialog>

            <Dialog Id="FilesInUse" X="50" Y="50" Width="361" Height="177" Title="[ProductName] Files in Use" NoMinimize="yes">
                <Control Id="RetryButton" Type="PushButton" X="99" Y="150" Width="81" Height="18" Text="&amp;Try Again" TabSkip="no" Default="yes">
                    <Publish Event="EndDialog" Value="Retry" />
                </Control>
                <Control Id="ContinueButton" Type="PushButton" X="99" Y="150" Width="81" Height="18" Text="&amp;Try Again" TabSkip="no">
                    <Publish Event="EndDialog" Value="Ignore" />
                </Control>
                <Control Id="ExitButton" Type="PushButton" X="273" Y="150" Width="81" Height="18" Text="&amp;Exit Installation" TabSkip="no" Cancel="yes">
                    <Publish Event="EndDialog" Value="Exit" />
                </Control>
                <Control Id="ListFilesInUse" Type="ListBox" X="6" Y="51" Width="348" Height="90" Property="FileInUseProcess" Text="MsiFilesInUse" TabSkip="no" Sunken="yes" Sorted="yes" />
                <Control Id="RemoveBodyText" Type="Text" X="6" Y="9" Width="345" Height="36" Text="The following applications are using files which the installer must remove. You can either close the applications and click &quot;Try Again&quot;, or click &quot;Continue&quot; so that the installer continues the installation, and replaces these files when your system restarts." TabSkip="yes">
                    <Condition Action="show">REMOVE&lt;&gt;""</Condition>
                    <Condition Action="hide">REMOVE=""</Condition>
                </Control>
                <Control Id="InstallBodyText" Type="Text" X="6" Y="9" Width="345" Height="36" Text="The following applications are using files which the installer must update. You can either close the applications and click &quot;Try Again&quot;, or click &quot;Continue&quot; so that the installer continues the installation, and replaces these files when your system restarts." TabSkip="yes">
                    <Condition Action="show">REMOVE=""</Condition>
                    <Condition Action="hide">REMOVE&lt;&gt;""</Condition>
                </Control>
            </Dialog>

            <Dialog Id="ErrorDialog" X="50" Y="50" Width="330" Height="101" Title="[ProductName]" ErrorDialog="yes">
                <Control Id="ErrorText" Type="Text" X="6" Y="9" Width="318" Height="48" TabSkip="no" Disabled="yes" />
                <Control Id="Y" Type="PushButton" X="240" Y="72" Width="81" Height="21" Text="&amp;Yes" TabSkip="yes">
                    <Publish Event="EndDialog" Value="ErrorYes" />
                </Control>
                <Control Id="N" Type="PushButton" X="120" Y="72" Width="81" Height="21" Text="&amp;No" TabSkip="yes">
                    <Publish Event="EndDialog" Value="ErrorNo" />
                </Control>
                <Control Id="A" Type="PushButton" X="0" Y="72" Width="81" Height="21" Text="&amp;Exit Installation" TabSkip="yes">
                    <Publish Event="EndDialog" Value="ErrorAbort" />
                </Control>
                <Control Id="R" Type="PushButton" X="198" Y="72" Width="81" Height="21" Text="&amp;Try Again" TabSkip="yes">
                    <Publish Event="EndDialog" Value="ErrorRetry" />
                </Control>
                <Control Id="I" Type="PushButton" X="81" Y="72" Width="81" Height="21" Text="&amp;Continue" TabSkip="yes">
                    <Publish Event="EndDialog" Value="ErrorIgnore" />
                </Control>
                <Control Id="O" Type="PushButton" X="159" Y="72" Width="81" Height="21" Text="OK" TabSkip="yes">
                    <Publish Event="EndDialog" Value="ErrorOk" />
                </Control>
                <Control Id="C" Type="PushButton" X="42" Y="72" Width="81" Height="21" Text="Cancel" TabSkip="yes">
                    <Publish Event="EndDialog" Value="ErrorCancel" />
                </Control>
            </Dialog>

            <Dialog Id="ResumeForm" X="50" Y="50" Width="373" Height="187" Title="[ProductName]">
                <Control Id="NextButton" Type="PushButton" X="300" Y="261" Width="66" Height="18" Text="&amp;Next" TabSkip="no" Default="yes" ElevationShield="yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="CancelButton" Type="PushButton" X="156" Y="261" Width="66" Height="18" Text="Cancel" TabSkip="no" Cancel="yes">
                    <Publish Event="SpawnDialog" Value="Cancel" />
                </Control>
                <Control Id="PreviousButton" Type="PushButton" X="228" Y="261" Width="66" Height="18" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
                <Control Id="Line1" Type="Line" X="0" Y="52" Width="375" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="Line2" Type="Line" X="0" Y="252" Width="375" Height="6" Text="MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
                <Control Id="BodyText" Type="Text" X="9" Y="63" Width="354" Height="180" Text="The installer will resume the installation of [ProductName] on your computer.&#xD;&#xA;&#xD;&#xA;Click &quot;Finish&quot; to continue." TabSkip="yes" />
                <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\HeadingFont}Welcome to the [ProductName] Setup Wizard" TabSkip="yes" Transparent="yes" />
            </Dialog>

            <Dialog Id="Cancel" X="50" Y="50" Width="271" Height="78" Title="[ProductName]" NoMinimize="yes">
                <Control Id="NoButton" Type="PushButton" X="198" Y="48" Width="65" Height="21" Text="&amp;No" TabSkip="no" Default="yes" Cancel="yes">
                    <Publish Event="EndDialog" Value="Return" />
                </Control>
                <Control Id="YesButton" Type="PushButton" X="126" Y="48" Width="65" Height="21" Text="&amp;Yes" TabSkip="no">
                    <Publish Event="EndDialog" Value="Exit" />
                </Control>
                <Control Id="BodyText" Type="Text" X="6" Y="9" Width="258" Height="24" Text="The installation is not yet complete. Are you sure you want to exit?" TabSkip="yes" />
            </Dialog>
        </UI>

        <InstallExecuteSequence>
            <AppSearch Sequence="100" />
            <FindRelatedProducts Sequence="200" />
            <LaunchConditions Sequence="400">NOT Installed</LaunchConditions>
            <CCPSearch Sequence="500">NOT Installed</CCPSearch>
            <RMCCPSearch Sequence="600">NOT Installed</RMCCPSearch>
            <ValidateProductID Sequence="700" />
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <IsolateComponents Sequence="950">RedirectedDllSupport</IsolateComponents>
            <CostFinalize Sequence="1000" />
            <SetODBCFolders Sequence="1100">NOT Installed</SetODBCFolders>
            <InstallValidate Sequence="1400" />
            <InstallInitialize Sequence="1500" />
            <AllocateRegistrySpace Sequence="1550">NOT Installed</AllocateRegistrySpace>
            <ProcessComponents Sequence="1600" />
            <UnpublishComponents Sequence="1700" />
            <UnpublishFeatures Sequence="1800" />
            <StopServices Sequence="1900">VersionNT</StopServices>
            <DeleteServices Sequence="2000">VersionNT</DeleteServices>
            <UnregisterComPlus Sequence="2100" />
            <SelfUnregModules Sequence="2200" />
            <UnregisterTypeLibraries Sequence="2300" />
            <RemoveODBC Sequence="2400" />
            <UnregisterFonts Sequence="2500" />
            <RemoveRegistryValues Sequence="2600" />
            <UnregisterClassInfo Sequence="2700" />
            <UnregisterExtensionInfo Sequence="2800" />
            <UnregisterProgIdInfo Sequence="2900" />
            <UnregisterMIMEInfo Sequence="3000" />
            <RemoveIniValues Sequence="3100" />
            <RemoveShortcuts Sequence="3200" />
            <RemoveEnvironmentStrings Sequence="3300" />
            <RemoveDuplicateFiles Sequence="3400" />
            <Custom Action="RemoveKeyboardFromLangBar" Sequence="3450">($RegistryKeys =2)</Custom>
            <RemoveFiles Sequence="3500" />
            <RemoveFolders Sequence="3600" />
            <CreateFolders Sequence="3700" />
            <MoveFiles Sequence="3800" />
            <InstallFiles Sequence="4000" />
            <Custom Action="SetFilePath" Sequence="4030">Not Msix64 And Not Intel64</Custom>
            <Custom Action="SetFilePathAmd64" Sequence="4032">Msix64</Custom>
            <Custom Action="SetFilePathIa64" Sequence="4034">Intel64</Custom>
            <Custom Action="RegisterKeyboard" Sequence="4050">($RegistryKeys &gt;2)</Custom>
            <Custom Action="UnregisterKeyboard" Sequence="4060">($RegistryKeys =2)</Custom>
            <Custom Action="AddKeyboardToLangBar" Sequence="4065">($RegistryKeys &gt;2)</Custom>
            <PatchFiles Sequence="4090" />
            <DuplicateFiles Sequence="4210" />
            <BindImage Sequence="4300" />
            <CreateShortcuts Sequence="4500" />
            <RegisterClassInfo Sequence="4600" />
            <RegisterExtensionInfo Sequence="4700" />
            <RegisterProgIdInfo Sequence="4800" />
            <RegisterMIMEInfo Sequence="4900" />
            <WriteRegistryValues Sequence="5000" />
            <WriteIniValues Sequence="5100" />
            <WriteEnvironmentStrings Sequence="5200" />
            <RegisterFonts Sequence="5300" />
            <InstallODBC Sequence="5400" />
            <RegisterTypeLibraries Sequence="5500" />
            <SelfRegModules Sequence="5600" />
            <RegisterComPlus Sequence="5700" />
            <InstallServices Sequence="5800">VersionNT</InstallServices>
            <StartServices Sequence="5900">VersionNT</StartServices>
            <RegisterUser Sequence="6000" />
            <RegisterProduct Sequence="6100" />
            <PublishComponents Sequence="6200" />
            <PublishFeatures Sequence="6300" />
            <PublishProduct Sequence="6400" />
            <InstallFinalize Sequence="6600" />
            <RemoveExistingProducts Sequence="1525" />
            <MsiPublishAssemblies Sequence="6250" />
            <MsiUnpublishAssemblies Sequence="1650" />
        </InstallExecuteSequence>

        <InstallUISequence>
            <Show Dialog="FatalErrorForm" OnExit="error" />
            <Show Dialog="UserExitForm" OnExit="cancel" />
            <Show Dialog="FinishedForm" OnExit="success" />
            <AppSearch Sequence="100" />
            <FindRelatedProducts Sequence="200" />
            <LaunchConditions Sequence="400">NOT Installed</LaunchConditions>
            <CCPSearch Sequence="500">NOT Installed</CCPSearch>
            <RMCCPSearch Sequence="600">NOT Installed</RMCCPSearch>
            <ValidateProductID Sequence="700" />
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <IsolateComponents Sequence="950">RedirectedDllSupport</IsolateComponents>
            <Show Dialog="WelcomeForm" Sequence="997">Installed="" AND NOT RESUME</Show>
            <Show Dialog="ResumeForm" Sequence="998">Installed="" AND RESUME</Show>
            <Show Dialog="MaintenanceForm" Sequence="999">Installed&lt;&gt;""</Show>
            <CostFinalize Sequence="1000" />
            <ExecuteAction Sequence="1300" />
        </InstallUISequence>

        <AdminExecuteSequence>
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <CostFinalize Sequence="1000" />
            <InstallValidate Sequence="1400" />
            <InstallInitialize Sequence="1500" />
            <InstallAdminPackage Sequence="3900" />
            <InstallFiles Sequence="4000" />
            <InstallFinalize Sequence="6600" />
        </AdminExecuteSequence>
    </Product>
</Wix>